<ion-header>
  <ion-navbar color="headercolor">
    <ion-title color="textColor">Distance off your Route</ion-title>
    <ion-buttons end>
      <button ion-button style="background:transparent;" (click) = "OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="has-header1">

    <div style="text-align:center;margin-top: 50%;">
    <h5>Select Maximum distance an Eligible Gas Stations can lie off your Route</h5>
    </div>

    <ion-list>
      <ion-item style="background:transparent">
      <!-- <ion-range min="1" max="5" step="1" snaps="true" [(ngModel)]="warmth" color="danger"> -->
      <ion-range min="0.5" max="2" pin="true" step="0.20" snaps="true" [(ngModel)]="contrast" color="danger">

        <ion-icon range-left small color="danger" name="ios-speedometer-outline"></ion-icon>
        <ion-icon range-right color="danger" name="speedometer"></ion-icon> 
      </ion-range>
    </ion-item>
  </ion-list>
<p style="color:white;margin-top: -7%;margin-left: 7%;">0.5 Miles</p>
<p style="color:white;float: right;margin-right: 5%;margin-top: -8%;">2 Miles</p>
  
  <div align="center;margin-left: 14%; margin-top: 18%;">
      <button ion-button block style="background-color:#f2ad00;width: 75%;margin-left: 12%; margin-top: 18%;"><h5 style="color:white">OK</h5></button>

  </div>

</ion-content>