<ion-header>
  <ion-navbar color="headercolor">
    <ion-title color="textColor">Viable Stations</ion-title>
    <ion-buttons end>
      <button ion-button style="background:transparent;" (click) = "OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="has-header1">

    <div style="text-align:center;margin-top: 50%;">
    <h5>Select number of Gas Stations to appear along your Route</h5>
    </div>

    <ion-list>
      <ion-item style="background:transparent">
      <!-- <ion-range min="1" max="5" step="1" snaps="true" [(ngModel)]="warmth" color="danger"> -->
      <ion-range min="1" max="5" pin="true" step="1" snaps="true" [(ngModel)]="contrast" color="danger">

        <ion-icon range-left small color="danger" name="ios-speedometer-outline"></ion-icon>
        <ion-icon range-right color="danger" name="speedometer"></ion-icon> 
      </ion-range>
    </ion-item>
  </ion-list>
<p style="color:white;margin-top: -7%;margin-left: 7%;">1 Station</p>
<p style="color:white;float: right;margin-right: 5%;margin-top: -8%;">5 Stations</p>
  
  <div align="center">
      <button ion-button block (click)="doConfirm()" style="background-color:#f2ad00;width: 75%;"><h5 style="color:white">Want more Gas Stations?</h5></button>

  </div>

</ion-content>