<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
    <div align="center" style="color:white;font-size: large;">
      <ion-label style="text-align:center">Select Radius</ion-label>
      </div>
    <ion-buttons end>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:white" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="has-header1">

    <div style="text-align:center;margin-top: 50%;">
    <h5>Select Search Radius</h5>
    </div>

    <ion-list>
      <ion-item style="background:transparent">
      <!-- <ion-range min="1" max="5" step="1" snaps="true" [(ngModel)]="warmth" color="danger"> -->
      <ion-range min="1" max="50" pin="true" step="5" snaps="true" [(ngModel)]="contrast" color="danger">

        <ion-icon range-left small color="danger" name="ios-speedometer-outline"></ion-icon>
        <ion-icon range-right color="danger" name="speedometer"></ion-icon> 
      </ion-range>
    </ion-item>
  </ion-list>
<p style="color:white;margin-top: -7%;margin-left: 7%;">1 Mile</p>
<p style="color:white;float: right;margin-right: 5%;margin-top: -8%;">50 Miles</p>
  
  <div align="center;margin-left: 14%; margin-top: 18%;">
      <button ion-button block style="background-color:#f2ad00;width: 75%;margin-left: 12%; margin-top: 18%;"><h5 style="color:white">OK</h5></button>

  </div>

</ion-content>