<ion-header>
</ion-header>

<ion-content class="has-header">
  <div>
    <div align="center" style="position: fixed; margin-top:-7%" padding>
      <div>
        <img width="100%" height="191px" src="img/logo.png" />
      </div>
      
      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <ion-item class="item-ios">
          <ion-label>
            <ion-icon class="iconsize" name="mail"></ion-icon>
          </ion-label>
          <ion-input type="text" placeholder="Enter Email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>

      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <ion-item class="item-ios">
          <ion-label>
            <ion-icon class="iconsize" name="lock"></ion-icon>
          </ion-label>
          <ion-input type="password" placeholder="Enter Password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </div>

      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="loginbtn" (click)="homeScreen()">Login</button>
      </div>
      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="fb" (click) = "FacebookLogin()">Sign In With Facebook</button>
      </div>

    <br/>
      
      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h4><u>Forgot Password?</u></h4>
      </div>
      <br/>
      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="signup" (click)="signUpPage()">Sign Up</button>
      </div>
    </div>

  </div>

</ion-content>