.has-header{
    background-image: url('../img/background.jpg');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.masterDiv{
    padding: 6%;
    bottom: 0;
    left: 0;
    right: 0;
}
.divBtns{
    margin-top: -8%;
}

.loginbtn{
    background: url('../img/login.jpg');
    background-size: cover;
    color:white;
    width: 100%;
    height: 51px;
    border-radius: 7px;
    font-size: large;

}
.fb{
    background: url('../img/fb.jpg');
    background-size: cover;
    color:white;
     width: 100%;
    height: 51px;
    border-radius: 7px;
    font-size: large;
}
.signup{
    background: url('../img/signup.jpg');
    background-size: cover;
    margin-top: -4%;
    color:white;
    width: 100%;
    height: 51px;
    border-radius: 7px;
    font-size: large;

}
 .iconsize{
    font-size: 2em;
      }
.item-ios {
    width: 100%;
    height: 51px;
    padding-left: 16px;
    position: relative;
    border-radius: 0;
    font-size: 1.7rem;
    color: #fff;
    background-color: #252525;
    border-radius: 6px;
}
.footer1{
    height: 100px; 
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0; 
}
.footerHomePage{
    height: 19%;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 19px;
}
input,
input::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 3;
    color: white;
}