<ion-header>
  <ion-navbar color="headercolor">
    <ion-title color="textColor">Fuel Type</ion-title>
    <ion-buttons end>
      <button ion-button style="background:transparent;" (click) = "OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="has-header" no-bounce>
  <div padding>
    <ion-list>
      <h3 style="margin-left: 5%;">Select Desired Fuel Type</h3>

      <ion-item class="listbg ">
        <ion-label>Regular</ion-label>
        <ion-checkbox [(ngModel)]="regular"></ion-checkbox>
      </ion-item>

      <ion-item class="listbg">
        <ion-label>Mid-Grade</ion-label>
        <ion-checkbox [(ngModel)]="midgrade" class="checkbox-icon textColor"></ion-checkbox>
      </ion-item>

      <ion-item class="listbg">
        <ion-label>Premium</ion-label>
        <ion-checkbox [(ngModel)]="premium"></ion-checkbox>
      </ion-item>

      <ion-item class="listbg">
        <ion-label>Diesel</ion-label>
        <ion-checkbox [(ngModel)]="diesel"></ion-checkbox>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
