<ion-header>
  <ion-navbar color="headercolor">
    <ion-title color="textColor">Settings</ion-title>
    <ion-buttons end>
      <button ion-button style="background:transparent;" (click) = "OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="has-header" no-bounce>
  <div class="settingsBtnDiv" padding align="center">
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <button class="signup" >My Profile</button>
    </div>
    <br/>
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <button class="signup" >About the App</button>
    </div>
    <br/>
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <button class="signup" >Restore In-App Purchase</button>
    </div>
    <br/>
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <button class="signup">Rate the App</button>
    </div>
  </div>

  <div class="footer1">
    <div class="footerchildDiv" padding align="center">
      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="loginbtn" (click)="logout()">Logout</button>
      </div>

    </div>
  </div>
</ion-content>
