ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

#map {
        height: 75%;
    }

.locationBtn{
    background: url('../img/locmap.jpg');
    background-size: cover;
    margin-top: -4%;
    color:#c1c1c1;
    width: 100%;
    height: 56px;
    border-radius: 7px;
    text-align: left;
    padding-left: 6%;
    padding-right: 5%;
    font-size: large;

}
    .footerMap{
    background: rgba(0, 0, 0, 0.25);
    height: 147px; 
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0; 
}