<ion-header>
  <ion-navbar color="headercolor">
    <ion-title color="textColor">Along Your Route</ion-title>
   <ion-buttons end>
      <button ion-button style="background:transparent;" (click) = "OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

<div id="map"></div>

  <div class="footerMap">
    <div class="footerchildDiv" padding align="center">

      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="locationBtn">{{locationName}}</button>
      </div>
      <br/>
      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="locationBtn" (click)="showAddressModal()">{{address.place}}</button>
      </div>
    </div>
  </div>
</ion-content>