<ion-menu side="right" type="overlay" [content]="nav">
    <!-- <ion-header> -->
        <!-- <ion-toolbar> -->
            <!-- <ion-title>Menu</ion-title> -->
        <!-- </ion-toolbar> -->
    <!-- </ion-header>     -->
    <!-- <ion-content> -->
        <!-- <ion-list> -->
            
            <!-- <button ion-item (click) = "OnLoad(homeScreen)" > -->
                <!-- <ion-icon name="home" item-left></ion-icon> -->
                <!-- Home -->
            <!-- </button> -->

             <!-- <button ion-item (click) = "OnLoad(settingsPage)" > -->
                <!-- <ion-icon name="pin" item-left></ion-icon> -->
                <!-- Distance Off Your Route -->
            <!-- </button> -->

        <!-- </ion-list> -->
    <!-- </ion-content> -->
	<ion-header>
</ion-header>

<ion-content class="has-header">
    <ion-list>
  <ion-item class="listTransparent" (click) = "OnLoad(homeScreen)" >
    <ion-icon item-start><img  width="100%"src="img/homeicon.PNG"/></ion-icon>
     Home
  </ion-item>
   <ion-item class="listTransparent" (click) = "OnLoad(fuelType)">
    <ion-icon  item-start><img  width="100%"src="img/fuelicon.PNG"/> </ion-icon>
     Fuel Type
  </ion-item>
   <ion-item class="listTransparent" (click) = "OnLoad(viableStations)">
    <ion-icon item-start><img  width="100%"src="img/fuelicon.PNG"/></ion-icon>
     No of viable Stations
  </ion-item>
  <ion-item class="listTransparent" (click) = "OnLoad(distancePage)">
    <ion-icon item-start><img width="100%"src="img/locationicon.PNG"/></ion-icon>
     Distance off your Route
  </ion-item>
     <ion-item class="listTransparent" (click) = "OnLoad(MinDistancePage)">
    <ion-icon  item-start><img  width="100%"src="img/fuelicon.PNG"/> </ion-icon>
     Minimun Distance Between Stations
  </ion-item>
   
</ion-list>

   <ion-list>
  <ion-list-header class="listTransparent">
    Notifications
  </ion-list-header>
   <ion-item class="listTransparent">
    <ion-icon name="megaphone" item-start></ion-icon>
     Voice
  </ion-item>
   <ion-item class="listTransparent">
    <ion-icon name="phone-portrait" item-start></ion-icon>
     Vibrate
  </ion-item>
<ion-item class="listTransparent" (click) = "OnLoad(settingsPage)">
    <ion-icon name="settings" item-start></ion-icon>
     Settings
  </ion-item>
   </ion-list>


    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
