.has-header{
    background-image: url('../img/background.jpg');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   
}
.logo{
     position: fixed;
}
.heading{
    margin-top: 52%;
    text-align: -webkit-center;
    font-size: x-large;
    
}
.heading2{
        text-align: -webkit-center;
        margin-top: -9%;
        font-size: larger;
}
.divInputs{
        margin-top: 30%;
}
.toolbar-background1{
    background: transparent;
     border-style: solid;
    border-color: rgba(0, 0, 0, 0);
        border-width: 0px;
}
.toolbar-background-md1{
    background: transparent;
     border-style: solid;
    border-color: rgba(0, 0, 0, 0);
        border-width: 0px;
    
}

.footerchildDiv{
           margin-bottom: 7%;
}
.removeFooterLine{
    bottom: 138px;
    height: 2px;
    background-position: 0 0;
}

.fuelBtnArea{
    background: url('../img/fuel.jpg');
    background-size: cover;
    color:white;
    width: 100%;
    height: 70px;
    border-radius: 7px;
    font-size: x-large;

}

.locBtnRoute{
    background: url('../img/location.jpg');
    background-size: cover;
    color:white;
    width: 100%;
    height: 70px;
    border-radius: 7px;
    font-size: x-large;

}
.footerHome{
    height: 229px; 
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0; 
}