<ion-header>
  <ion-navbar color="headercolor">
    <ion-title color="textColor">Home</ion-title>
    
    <ion-buttons end>
      <button ion-button style="background:transparent;" (click) = "OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="has-header" no-bounce>
  <div class="logo">
    <img width="100%" height="202px" src="img/logo.png" />
  </div>
  <br/>
  <p class="heading" color="textColor" padding>Would you like to find the </p>
  <p class="heading2" color="textColor"><b>Cheapest Gas?</b></p>

  <div class="footerHome">
    <div class="footerchildDiv" padding align="center">
      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="locBtnRoute" (click)="settingsPage()">Along Your Route</button>
      </div>
      <br/>
      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="fuelBtnArea" (click)="InYourArea()">In Your Area</button>
      </div>
    </div>
  </div>
</ion-content>