<ion-header>
</ion-header>

<ion-content class="has-header">
    <ion-list>
  <ion-item class="listTransparent" (click)="HomePage()" >
    <ion-icon item-start><img  width="100%"src="img/homeicon.PNG"/></ion-icon>
     Home
  </ion-item>
   <ion-item class="listTransparent">
    <ion-icon  item-start><img  width="100%"src="img/fuelicon.PNG"/> </ion-icon>
     Fuel Type
  </ion-item>
   <ion-item class="listTransparent">
    <ion-icon item-start><img  width="100%"src="img/fuelicon.PNG"/></ion-icon>
     No of viable Stations
  </ion-item>
  <ion-item class="listTransparent">
    <ion-icon item-start><img width="100%"src="img/locationicon.PNG"/></ion-icon>
     Distance off your Route
  </ion-item>
     <ion-item class="listTransparent">
    <ion-icon  item-start><img  width="100%"src="img/fuelicon.PNG"/> </ion-icon>
     Minimun Distance Between Stations
  </ion-item>
   
</ion-list>

   <ion-list>
  <ion-list-header class="listTransparent">
    Notifications
  </ion-list-header>
   <ion-item class="listTransparent">
    <ion-icon name="megaphone" item-start></ion-icon>
     Voice
  </ion-item>
   <ion-item class="listTransparent">
    <ion-icon name="phone-portrait" item-start></ion-icon>
     Vibrate
  </ion-item>
<ion-item class="listTransparent">
    <ion-icon name="settings" item-start></ion-icon>
     Settings
  </ion-item>
   </ion-list>


    </ion-content>