<!--<ion-header>

  <ion-navbar color="headercolor">
    <ion-title color="textColor">In Your Area</ion-title>

<ion-buttons end>
      <button ion-button style="background:transparent;" (click) = "OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

<div id="map"></div>

</ion-content>-->


<ion-header>
    <ion-navbar color="headercolor">
    <ion-title color="textColor">In Your Area</ion-title>
    <ion-buttons end>
      <button ion-button style="background:transparent;" (click) = "OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  class="has-header1" no-bounce>

     <!-- <ion-segment [(ngModel)]="discuss" style="margin-top: 0%;background-color: grey;">
      <ion-segment-button value="upnext" style="color: white;border-color: white;" selected>
        Sort by
      </ion-segment-button>
      <ion-segment-button value="details" style="color: white;border-color: white;" (click)="gotonextpage()">
        Distance
      </ion-segment-button>
      <ion-segment-button value="discussion" style="color: white;border-color: white;" (click)="gotonextpage()">
        Price
      </ion-segment-button>
    </ion-segment>
 

  <div [ngSwitch]="discuss">

    <ion-list *ngSwitchCase="'Sort by'" >
  
    
            <ion-label><h4><b>checking</b></h4></ion-label>

    <ion-item>Airplane!</ion-item>
    <ion-item>Caddyshack</ion-item>
    <ion-item>Coming To America</ion-item>
    


   </ion-list>



    <ion-list *ngSwitchCase="'Distance'">
  

    
    </ion-list>

    <ion-list *ngSwitchCase="'Price'">
      
    </ion-list>
  
</div>  -->

 <ion-segment [(ngModel)]="discuss" class="has-header1" style="margin-top: 0%;background-color: gray;">
      <ion-segment-button value="Sort by"  style="color: white;border-color: white;">
        Sort by
      </ion-segment-button>
      <ion-segment-button value="Distance"  style="color: white;border-color: white;" >
        Distance
      </ion-segment-button>
      <ion-segment-button value="Price"  style="color: white;border-color: white;">
        Price
      </ion-segment-button>
    </ion-segment>
 

  <div [ngSwitch]="discuss" >
    <ion-list *ngSwitchCase="'Sort by'">
   
  <ion-item style="background:transparent; height: 125px" *ngFor="let markerData of markersData" (click) = "OpenNavigation(markerData.address)">
     <h3>{{markerData.station}}</h3>  <p style="float:right;margin-right: 8%; margin-top: 15%; marker.png">{{markerData.distance}}</p>
    <p>Diesel: ${{markerData.diesel_price}}</p>
    <p style="margin-top: 1.5%;">Regular Unleaded: ${{markerData.reg_price}}</p>
    <p style="margin-top: 1.5%;">Premium: ${{markerData.pre_price}}</p>
    <p style="margin-top: 1.5%;">Mid-Grade: ${{markerData.mid_price}}</p>
     <div style="width: 8%;margin-left: 93%;margin-top: -10%;">
      <img src="img/marker.png">
     </div>
  </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Distance'">
      <ion-item style="background:transparent; height: 125px" *ngFor="let markerData of markersData_Distance">
     <h3>{{markerData.station}}</h3>  <p style="float:right;margin-right: 8%; margin-top: 15%; marker.png">{{markerData.distance}}</p>
    <p>Diesel: ${{markerData.diesel_price}}</p>
    <p style="margin-top: 1.5%;">Regular Unleaded: ${{markerData.reg_price}}</p>
    <p style="margin-top: 1.5%;">Premium: ${{markerData.pre_price}}</p>
    <p style="margin-top: 1.5%;">Mid-Grade: ${{markerData.mid_price}}</p>
     <div style="width: 8%;margin-left: 93%;margin-top: -10%;">
      <img src="img/marker.png">
     </div>
  </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Price'" >
      <ion-item style="background:transparent; height: 125px" *ngFor="let markerData of markersData">
     <h3>{{markerData.station}}</h3>  <p style="float:right;margin-right: 8%; margin-top: 15%; marker.png">{{markerData.distance}}</p>
    <p>Diesel: ${{markerData.diesel_price}}</p>
    <p style="margin-top: 1.5%;">Regular Unleaded: ${{markerData.reg_price}}</p>
    <p style="margin-top: 1.5%;">Premium: ${{markerData.pre_price}}</p>
    <p style="margin-top: 1.5%;">Mid-Grade: ${{markerData.mid_price}}</p>
     <div style="width: 8%;margin-left: 93%;margin-top: -10%;">
      <img src="img/marker.png">
     </div>
  </ion-item>
    </ion-list>
  
</div> 

</ion-content>
