.toolbar-background {
    position:fixed;

}
.has-header1{
    background-image: url('../img/background.jpg');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.text-styler{
    color: white;  
    border-color: white;
}