<ion-header>
</ion-header>

<ion-content class="has-header">
    <div>
        <img width="100%" height="190px" src="img/logo.png" />
      </div>

  <div class="divInputs" padding align="center" style="margin-top: -10px">
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <ion-item class="item-ios">
        <ion-label>
          <ion-icon class="iconsize" name="person"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="User Name" [(ngModel)]="username"></ion-input>
      </ion-item>

    </div>
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <ion-item class="item-ios">
        <ion-label>
          <ion-icon class="iconsize" name="mail"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Enter Email" [(ngModel)]="email"></ion-input>
      </ion-item>

    </div>
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <ion-item class="item-ios">
        <ion-label>
          <ion-icon class="iconsize" name="lock"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="Enter Password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <ion-item class="item-ios">
        <ion-label>
          <ion-icon class="iconsize" name="lock"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>
    </div>
	<div  align="center" style="margin-top: 15%;">
 <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="loginbtn" (click)="signUp()">Sign Up</button>
      </div>
      <br/>
      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="signup" (click)="HomePage()">Cancel</button>
      </div>
	  </div>
  </div>
  
  <!-- <div class="footerSignup"> -->
    <!-- <div class="footerchildDiv" padding align="center"> -->
      <!-- <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12"> -->
        <!-- <button class="loginbtn">Sign Up</button> -->
      <!-- </div> -->
      <!-- <br/> -->
      <!-- <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12"> -->
        <!-- <button class="signup" (click)="HomePage()">Cancel</button> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
</ion-content>
