.divInputs{
        margin-top: 30%;
}
.toolbar-background{
    background: transparent;
    
}
.toolbar-background-md{
    background: transparent;
   
}

.removeFooterLine{
    bottom: 138px;
    height: 2px;
    background-position: 0 0;
}

.footerSignup{
    height: 154px; 
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0; 
}